@charset "UTF-8";
.car-status, .carousel-caption, .customer-care, .inner-title, .partner-title, .phone-numb, .search-input, .top-current-title, .your-bid {
	text-transform: capitalize
}
.dropdown-large, .dropdown-medium {
	max-width: 1000px!important
}
.top-menu li, ul.right-icons li {
	display: inline;
	line-height: 50px
}
.top-menu li.active a, .top-menu li:hover a {
	border-bottom: 1px solid #000
}
.top-menu li:hover a, ul.right-icons li:hover a {
	transition: all 1s ease-in-out;
	text-decoration: none
}
body, html {
	height: 100%
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -50px;
	padding: 0 0 50px;
	color: #514f50
}
.user-left, .user-options, .user-right {
	margin-right: -15px;
	margin-left: -15px
}
#footer {
	min-height: 50px;
	background-color: #fff;
	color: #000;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	text-align: left;
	font-weight: 600
}
.countdown-timer-wrapper .timer, .current-auction, .input-details .countdown-timer-wrapper .timer, .top-current-title, .top-menu, ul.right-icons {
	text-align: center
}
body {
	direction: ltr;
	font-family: dubai
}
.top-menu, ul.right-icons {
	list-style: none;
	padding-left: 0;
	font-size: 16px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: 600
}
ul.right-icons li {
	padding: 10px 4%
}
.top-header {
	background: #e4e5e6
}
.user-right {
	background: #000;
	padding-right: 21%;
	-webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%)
}
.right-icons li a {
	color: #fff
}
.user-options {
	background: #e4e5e6
}
.user-left {
	background: #49a56e;
	padding-left: 21%;
	-webkit-clip-path: polygon(0 0, 91% 1%, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 91% 1%, 100% 100%, 0 100%);
	font-size: 17px
}
.user-left a {
	line-height: 50px;
	color: #fff;
	padding: 0 30px
}
.top-menu li {
	border-right: 1px solid #000;
	padding: 0 15px
}
.top-header>.row {
	margin: 0
}
.login {
	border-right: 1px solid #fff
}
.top-menu li:last-child {
	border-right: 0
}
.top-menu li a {
	padding: 5px 5px 0
}
.top-menu li:hover a {
	padding: 5px 5px 0;
	color: #000
}
ul.right-icons li:hover a {
	color: #49a56e
}
.top-header2 {
	background: #f4f4f4;
	padding: 10px 0
}
.search-input {
	background-image: url(../images/search.jpg);
	background-color: #f9f8f6;
	background-repeat: no-repeat;
	background-position: left center;
	border: 1px solid #d8d8d8;
	border-radius: 15px;
	width: 100%;
	font-size: 15px;
	line-height: 17px;
	padding: 10px 65px;
	color: #b6d9c5
}
.search {
	position: relative;
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px
}
button.search-btn {
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 10000;
	background: 0 0;
	border: none;
	color: #c60d23;
	font-size: 20px;
	line-height: 38px;
	padding: 0 15px;
	border-radius: 15px
}
a.logo2 {
	float: right
}
button.search-btn:focus {
	outline: -webkit-focus-ring-color auto 0
}
.search-input:focus {
	outline: #b6d9c5 auto 1px;
	border-radius: 0!important;
	transition: all .1s ease-in-out
}
.navbar.navbar-default {
	background-image: none;
	background-color: #c3051e;
	border: none
}
.menu ul.nav.navbar-nav.navbar-left.sm li a, .menu-mobile ul.nav.navbar-nav.navbar-left.sm li a {
	color: #fff;
	text-shadow: none;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	border-right: 1px solid #fff;
	padding: 0 20px
}
ul.nav.navbar-nav.navbar-left.sm li.active a {
	color: #fff;
	text-shadow: none;
	background: #d90e27;
	box-shadow: none
}
.menu .navbar-nav li:last-child a {
	border-right: 0!important
}
.menu .navbar-nav li {
	float: left;
	padding: 15px 0
}
ul.nav.navbar-nav.navbar-left.sm li.active, ul.nav.navbar-nav.navbar-left.sm li:hover {
	color: #fff;
	text-shadow: none;
	background: #d90e27;
	transition: all 1s
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff!important;
	background-color: #d90e27!important;
	background-image: none;
	box-shadow: none
}
.menu ul.dropdown-menu.sm-nowrap li:hover a {
	color: #fff;
	text-shadow: none;
	background: #d90e27
}
.menu .navbar-collapse.collapse {
	margin: 0;
	padding: 0
}
.customer-care, .phone-numb {
	color: #fff;
	font-size: 18px;
	line-height: 51px
}
.customer-care:hover, .phone-numb:hover {
	text-decoration: none;
	color: #fff;
	transition: all 1s
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #49a56e
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #49a56e;
	border-radius: 10px
}
.carousel-indicators {
	bottom: 0
}
.current-auction {
	border: 1px solid #c3051e;
	border-radius: 15px;
	padding: 15px;
	margin-right: 15px
}
.menu {
	margin-bottom: 30px
}
.top-current {
	background: url(../images/bg-current.jpg) center center no-repeat;
	height: 45px;
	margin-bottom: 15px;
	position: relative
}
.top-current span {
	border: 1px solid #ac172b;
	border-radius: 5px;
	padding: 0 10px;
	position: absolute;
	right: 21%;
	background: #fff;
	top: 9px;
	color: #c3051e;
	font-family: dubai2
}
.top-current-title {
	font-size: 26px;
	margin-bottom: 45px;
	color: #c3051e;
	font-family: dubai3
}
.countdown-timer-wrapper h5 {
	font-size: 14px;
	letter-spacing: .5px;
	text-align: center;
	padding-top: 10px;
	text-shadow: none
}
.countdown-timer-wrapper .timer .timer-wrapper {
	display: inline-block;
	width: 50px;
	height: 50px
}
.countdown-timer-wrapper .timer .timer-wrapper .time {
	font-size: 27px;
	font-weight: 700;
	color: #c3051e
}
.countdown-timer-wrapper .timer .timer-wrapper .text {
	font-size: 16px;
	color: #c3051e
}
.input-details .countdown-timer-wrapper .timer .timer-wrapper {
	display: inline-block;
	width: 25px;
	height: 10px
}
.input-details .countdown-timer-wrapper .timer .timer-wrapper .time {
	font-size: 16px;
	font-weight: 700;
	color: #49a56e
}
.input-details.active .countdown-timer-wrapper .timer .timer-wrapper .time, .input-details.active span, .input-details:hover, .input-details:hover .countdown-timer-wrapper .timer .timer-wrapper .time, .input-details:hover span {
	color: #fff
}
.input-details .countdown-timer-wrapper .timer .timer-wrapper .text {
	display: none
}
.input-details .countdown-timer-wrapper {
	margin-bottom: 0
}
.input-details.active {
	background: #49a36d;
	color: #fff
}
.input-details:hover {
	background: #49a36d
}
.input-details:hover .bid2 {
	display: inline-block
}
.bid2, .input-details.active .bid1 {
	display: none
}
.btn.my-btn {
	background: #fff;
	line-height: 25px;
	font-size: 19px;
	margin-bottom: 15px;
	color: #c2081f;
	border: 1px solid #c2081f
}
.countdown-timer-wrapper, .day-home {
	margin-bottom: 30px
}
.btn.my-btn:hover .app1 {
	display: none!important
}
.btn.my-btn:hover .app2 {
	display: inline-block!important
}
ul.car-options li {
	border-right: 1px solid #060606
}
ul.car-options li:last-child {
	border-right: 0 solid #060606
}
.current-auction .btn.my-btn {
	min-width: 160px;
	height: 50px;
	line-height: 35px
}
.my-btn:hover {
	background: #c2081f;
	color: #fff
}
.car1:hover {
	background: url(../images/c11.png) top left no-repeat;
	transition: all 1s
}
.car2:hover {
	background: url(../images/c22.png) top left no-repeat;
	transition: all 1s
}
.car3:hover {
	background: url(../images/c33.png) top left no-repeat;
	transition: all 1s
}
.car4:hover {
	background: url(../images/c44.png) top left no-repeat;
	transition: all 1s
}
.my-btn:hover span.info-span {
	color: #fff
}
.menu-mobile {
	display: none
}
span.info-span {
	width: 20px;
	height: 20px;
	border: 1px solid;
	line-height: 20px;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	margin-right: 6px;
	color: #49a56e
}
.day-home {
	font-size: 20px;
	font-weight: 800;
	color: #000
}
.month-home {
	color: #49a56e;
	font-family: dubai2;
	font-size: 30px
}
.car-status span {
	color: #c3051e;
	font-size: 24px;
	display: block;
	text-align: center
}
.car-status, .service-item span {
	text-align: center;
	font-size: 17px
}
.car-status {
	display: inline-block;
	border: 1px solid #258f5f;
	width: 87px;
	height: 87px;
	border-radius: 50%;
	padding: 17px 5px 5px;
	margin-bottom: 15px;
	color: #2f8e66;
	font-family: dubai3;
	line-height: 23px
}
.service-item img {
	opacity: .5;
	width: 100%;
	color: #000
}
.service-item span {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	color: #000;
	top: 39%;
	font-family: dubai2
}
.car-options li a:hover, .car-status:hover {
	text-decoration: none
}
.service-item {
	position: relative;
	color: #000;
	margin-bottom: 15px;
	margin-right: -15px
}
.service-item:hover span {
	color: #fff;
	transition: all .5s
}
.service-item:hover img {
	opacity: 1;
	width: 100%!important
}
.date-details {
	padding: 0
}
.carousel-caption {
	left: 0;
	top: 0;
	text-align: left;
	text-shadow: none;
	color: #000;
	font-size: 19px;
	font-family: dubai;
	font-weight: 800;
	padding-top: 0
}
.btn-slider, .car-options, .car-options li a, .circle-span, .col-lg-8.col-md-7.col-sm-6.col-xs-12, .max-bid, .max-bid p, .numb-car, .your-bid {
	text-align: center
}
.caption-title1 {
	color: #c3051e;
	font-size: 30px;
	font-family: dubai3
}
.caption-title12 {
	color: #258f5f;
	font-size: 23px
}
.car-status:hover {
	color: #2f8e66;
	border: 1px solid #c3051e;
	transition: all 1s
}
.car1 {
	background: url(../images/c1.png) top left no-repeat
}
.car2 {
	background: url(../images/c2.png) top left no-repeat
}
.car3 {
	background: url(../images/c3.png) top left no-repeat
}
.car4 {
	background: url(../images/c4.png) top left no-repeat
}
.car-options {
	padding-left: 0;
	list-style: none
}
.car-options li {
	display: inline-block;
	height: 66px;
	padding-top: 50px;
	width: 100px;
	position: relative;
	margin: 5px 0px 15px
}
.owl-carousel .owl-item img {
    display: block;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}
.numb-car {
	position: absolute;
	right: 5px;
	top: 0px;
	background: #060606;
	border-radius: 50%;
	width: 30px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 12px
}
.car-options li a {
	display: block;
	color: #49a56e;
	font-size: 18px;
	font-weight: 600
}
.partners {
	background: #dfdbd8
}
ul.dropdown-menu.sm-nowrap {
	background: #d90e27;
	border: none;
	margin-top: 15px!important
}
.partner-title {
	font-size: 25px;
	font-weight: 400;
	color: #000;
	line-height:61px
}
.footer-links li:first-child a {
    padding-left: 0 10px;
   
}
.log-in-ul {
    list-style: none;
    padding-left: 0;
	overflow:auto;
	margin-bottom:0
}
.log-in-ul li {
    float: left;
}
.list-form {
    list-style: none;
    padding-left: 0;
    display: none;
}
.social {
    text-align: right;
    margin-top: 16px;
}
.owl-next, .owl-prev {
	font-size: 0;
	width: 17px;
	height: 29px;
	top: 50%;
	background-repeat: no-repeat;
	margin-top: -11px;
	position: absolute
}
.owl-prev {
	left: 0;
	background-image: url(../images/prev.png)
}
.owl-next {
	right: 0;
	background-image: url(../images/next.png)
}
.ahover1, .ahover2 {
	display: none
}
ul.right-icons li a:hover .a1 {
	display: none;
	transition: all 1s ease-in-out!important
}
.inner-title {
	color: #c3051e;
	font-size: 30px;
	font-family: dubai2;
	margin-bottom: 15px;
	line-height: 38px
}
.your-bid {
	font-size: 20px;
	font-weight: 400;
	padding: 0 15px;
	margin-bottom: 30px;
	color: #8b8b8b
}
.rangeslider__fill {
	background: red;
	background: -webkit-linear-gradient(-90deg, #55bc7f, #88fdb7);
	background: -o-linear-gradient(-90deg, #55bc7f, #88fdb7);
	background: -moz-linear-gradient(-90deg, #55bc7f, #88fdb7);
	background: linear-gradient(-90deg, #55bc7f, #88fdb7);
	position: absolute
}
.rangeslider {
	background: #55bc7f;
	position: relative
}
.lot, .max-bid, .right-icons-car {
	position: absolute
}
.rangeslider__handle:after {
	content: "";
	display: block;
	width: 47px;
	height: 47px;
	border: 1px solid #fff;
	background-image: none
}
.rangeslider__handle {
	background: #55bc7f;
	border: 1px double #fff;
	cursor: pointer;
	display: inline-block;
	width: 55px;
	height: 55px
}
button.btn.my-btn-contact2 {
	background: #55bc7f;
	font-size: 18px;
	width: 200px;
	padding: 14px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 20px;
	margin: 30px auto 40px
}
.circle-span, .max-bid {
	border: 1px solid #49a56e
}
.rangeslider--horizontal .rangeslider__handle {
	top: -18px;
	touch-action: pan-y;
	-ms-touch-action: pan-y
}
.your-bid span {
	display: block;
	font-size: 18px
}
.car-item {
	margin-bottom: 15px;
	padding: 15px
}
.car-item:hover, .car-item:hover .date-remaining-item {
	background: #f2f2f2;
	transition: all 1s
}
.sold:hover, .sold:hover .date-remaining-item {
	background: #fff;
	transition: all 1s
}
.max-bid {
	background: rgba(255,255,255,.91);
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 15px;
	z-index: 1000
}
.max-bid p {
	font-size: 25px;
	padding: 60px 15px 15px;
	margin-bottom: 30px
}
.max-bid .current-bid {
	width: auto
}
.car-specification span {
	display: inline-block;
	text-align: center;
	width: 32.5%;
	color: #848484;
	font-size: 17px;
	line-height: 20px;
	font-weight: 600
}
.max-bid .btn {
	text-transform: capitalize!important;
	font-size: 20px!important
}
.car-item button.btn.my-btn-contact2 {
	margin-bottom: 0!important
}
.car-specification {
	margin-top: 20px
}
.right-icons-car {
	width: 50px;
	right: 20px;
	top: 10px
}
.circle-span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 10px;
	border-radius: 50%;
	line-height: 27px;
	color: #49a56e;
	font-size: 18px
}
.circle-span:hover {
	color: #49a56e;
	background: #fff;
	text-decoration: none
}
ul.nav.navbar-nav.navbar-left.search-section.sm {
	background: #fff;
	color: red;
	color: rgba(0,0,0,.74);
	box-shadow: 0 1px 2px 2px rgba(0,0,0,.08)
}
.search-section ul.dropdown-menu.sm-nowrap {
	background: #fff!important;
	border: none!important;
	margin-top: 10px!important;
	padding: 10px
}
.dropdown-large {
	width: 450px!important
}
.dropdown-medium, .dropdown-medium-input {
	width: 300px!important
}
.banner-about, .text-int {
	margin-bottom: 15px
}
.dropdown-medium li {
	background: #fff!important
}
.left-menu {
	float: left;
	margin-right: 10px
}
.search-section .dropdown-large li:last-child, .search-section ul.dropdown-menu li:last-child {
	border-bottom: 0
}
.search-section .dropdown-large li a, .search-section .dropdown-medium li a, .search-section .dropdown-small li a {
	padding: 0!important;
	font-size: 15px!important;
	color: #909090!important;
	border-right: 0!important;
	text-decoration: none!important
}
.search-section .open>a, .search-section .open>a:focus, .search-section .open>a:hover, .search-section>li>a:active, .search-section>li>a:focus, .search-section>li>a:hover, a.has-submenu.highlighted {
	text-decoration: none;
	background-color: #fff!important;
	color: #49a56e!important
}
.search-section .dropdown-large li.active, .search-section .dropdown-large li:hover, .search-section .dropdown-medium li.active, .search-section .dropdown-medium li:hover, .search-section .dropdown-small li.active, .search-section .dropdown-small li:hover {
	color: #49a56e;
	text-shadow: none;
	background: #fff!important;
	transition: all 1s
}
.search-section .dropdown-large li.active, .search-section .dropdown-large li:hover a, .search-section .dropdown-medium li.active, .search-section .dropdown-medium li:hover a, .search-section .dropdown-small li.active, .search-section .dropdown-small li:hover a {
	color: #49a56e!important;
	text-shadow: none;
	background: 0 0!important;
	transition: all 1s
}
.search-section li a.has-submenu {
	color: #000;
	text-shadow: none!important;
	font-size: 17px!important;
	text-transform: capitalize!important;
	font-weight: 600!important;
	border-right: 0 solid #fff!important;
	padding: 10px 15px!important
}
.search-section .dropdown-large li, .search-section ul.dropdown-menu li {
	border-bottom: 1px solid #6f6f6f;
	padding: 5px 0
}
.input-search {
	width: 200px;
	padding: 5px 10px
}
.search-section ul.dropdown-menu.sm-nowrap:after {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px
}
.right-icons-car .circle-span:nth-child(2) {
	line-height: 31px
}
.text-int p {
	font-size: 18px;
	font-family: dubai2;
	font-weight: 800
}
.text-int {
	color: #514f50;
	font-size: 17px;
	line-height: 27px;
	font-weight: 600
}
ul.right-icons li a:hover .a2 {
	display: none;
	transition: all 1s ease-in-out!important
}
.custom-option, .lot, .lot:before {
	transition: all .4s ease-in-out
}
.form-horizontal.contact .form-group {
	margin-left: 0;
	margin-right: 0
}
.form-control {
	color: #afafaf;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e8e8e8;
	border-radius: 10px
}
select.sections.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../images/arrow.png)!important;
	background-color: #fff!important;
	background-repeat: no-repeat!important;
	background-position: right top!important;
	background-size: contain!important
}
button.btn.my-btn-contact {
	background: #49a56e;
	float: right;
	font-size: 18px;
	border-radius: 10px
}
a.lot-btn, form.select-search select.form-control {
	color: #000;
	background-image: url(../images/arrow2.png)!important;
	box-shadow: none
}
.lot-btn:hover, a.lot-btn, form.select-search select.form-control {
	background-color: #fff!important;
	background-repeat: no-repeat!important;
	background-position: center right!important
}
.modal-open .modal {
	z-index: 1000000
}
form.select-search select.form-control {
	padding: 5px;
	border: 0;
	text-transform: capitalize;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
a.lot-btn {
	position: relative;
	display: block;
	padding: 0 10px;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	border: 0;
	height: 15px;
	margin-bottom: 5px;
	line-height: 16px
}
.custom-options.large-size {
	width: 400px;
	padding: 5px
}
.custom-options.large-size .col-md-4 {
	padding-right: 5px;
	padding-left: 5px
}
ul.numb-lot {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
	position: relative
}
li.custom-lot {
	list-style: none;
	width: 60px;
	box-shadow: none;
	overflow: hidden;
	border: 0
}
.lot-btn:hover {
	color: #49a56e;
	text-decoration: none;
	border: 0;
	background-image: url(../images/arrow22.png)!important
}
.lot:before {
	transform: rotate(45deg)
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0)
}
.select-search button.btn.btn-default.dropdown-toggle {
	background-image: none;
	border: none;
	box-shadow: none;
	text-transform: capitalize;
	color: #000
}
.select-search button.btn.btn-default.dropdown-toggle:focus {
	background-image: none;
	border: none;
	box-shadow: none;
	text-transform: capitalize;
	color: #14905c;
	background-color: #fff
}
.modal-dialog {
	width: 570px;
	margin: 0 auto;
	padding-top: 55px
}
.select-search .form-group {
	width: 9.5%;
	float: left;
	margin: 5px
}
.select-search select.form-control:hover {
	color: #49a56e;
	background-image: url(../images/arrow22.png)!important;
	background-color: #fff!important;
	background-repeat: no-repeat!important;
	background-position: center right!important
}
.modal-body {
	position: relative;
	padding: 5px
}
.lot {
	top: 38px;
	z-index: 1000;
	float: left;
	min-width: 160px;
	margin: 0;
	text-align: left;
	list-style: none;
	-webkit-background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	width: 225px;
	display: table;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
	background: #fff;
	padding: 15px 0;
	color: #fff;
	font-size: 12px;
	line-height: 22px
}
.custom-lot.open .lot, .my-active {
	opacity: 1;
	visibility: visible;
	pointer-events: all
}
.custom-lot.open a, .custom-select.opened {
	background-image: url(../images/arrow22.png)!important
}
.custom-lot.open a, .custom-select, .custom-select.opened {
	background-color: #fff!important;
	background-repeat: no-repeat!important;
	background-position: center right!important
}
.custom-lot.open .lot {
	transform: translateY(0)
}
.my-active {
	margin-top: 25px!important
}
.custom-lot.open a {
	color: #49a56e
}
.custom-select.opened {
	position: relative;
	display: inline-block
}
.lot:after {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255,255,255,0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px
}
.customer-care .hover, .customer-care:hover .normal {
	display: none
}
.customer-care:hover .hover {
	display: inline-block
}
.phone-numb .hover, .phone-numb:hover .normal {
	display: none
}
.phone-numb:hover .hover {
	display: inline-block
}
.circle-span:.active-case {
display:none
}
.circle-span.active .active-case {
	display: initial;
	text-decoration: none
}
.custom-select-wrapper {
	position: relative;
	display: inline-block;
	user-select: none;
	line-height: 9px;
	margin-top: 5px
}
.custom-select-wrapper select {
	display: none
}
.custom-select {
	position: relative;
	display: inline-block;
	background-image: url(../images/arrow2.png)!important;
	padding-right: 15px;
	margin: 0 2px
}
.custom-select-trigger {
	position: relative;
	display: block;
	padding: 0 3px;
	font-size: 17px;
	font-weight: 600;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	width: 50px;
	height: 25px;
	line-height: 28px;
	text-overflow: ellipsis;
	text-transform: capitalize
}
.custom-options, .custom-options:before {
	position: absolute;
	background: #fff;
	transition: all .4s ease-in-out
}
.custom-options {
	padding: 5px;
	top: 100%;
	left: 0;
	right: 0;
	margin: 18px 0;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0,0,0,.07);
	display: table;
	width: 130px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
	text-transform: uppercase
}
.nav-tabs>li>a, .your-bid output, ul.body-types {
	text-transform: capitalize
}
.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0)
}
.custom-options:before {
	display: block;
	content: '';
	bottom: 100%;
	left: 15px;
	width: 20px;
	height: 20px;
	margin-bottom: -17px;
	border-top: 0;
	border-left: 0;
	transform: rotate(45deg)
}
.option-hover:before {
	background: #f9f9f9
}
.custom-option {
	position: relative;
	display: block;
	padding: 2px 10px;
	border-bottom: 1px solid #b5b5b5;
	font-size: 15px;
	font-weight: 600;
	color: #909090;
	line-height: 27px;
	cursor: pointer
}
.custom-option.selection, .custom-option:hover {
	background: #49a56e;
	color: #fff
}
.current-bid, .custom-select.sources.opened>span {
	color: #49a56e
}
.custom-select.sources.opened .custom-select-trigger:after {
	border-bottom: 1px solid #49a56e;
	border-right: 1px solid #49a56e
}
#Menuitems input {
	border-radius: 0
}
.current-bid, .input-details {
	border: 1px solid #49a56e;
	text-align: center;
	text-transform: capitalize
}
.input-details {
	width: 23%;
	display: inline-block;
	padding: 5px 10px;
	margin: .5%;
	cursor: context-menu
}
a.input-details {
	cursor: pointer;
	text-decoration: none
}
.input-details:hover .bid1 {
	display: none
}
.input-details-container {
	text-align: center
}
.current-bid {
	width: 100%;
	display: inline-block;
	padding: 10px 30px 5px;
	cursor: context-menu;
	font-size: 28px;
	font-family: dubai;
	margin-bottom: 15px;
	font-weight: 800;
	line-height: 27px
}
.current-bid span {
	display: block;
	color: #c3051e;
	font-family: dubai;
	font-size: 19px;
	font-weight: 500
}
.nav-tabs>li>a {
	background-image: none;
	border: 0;
	box-shadow: -1px -2px 2px -1px rgba(0,0,0,.22);
	font-size: 22px;
	font-family: dubai;
	font-weight: 100;
	padding: 10px 70px;
	border-bottom: 5px solid #fff
}
.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	box-shadow: 1px 0 2px 0 rgba(0,0,0,.09)
}
.nav-tabs li.active {
	border-bottom: 5px solid #c3051e;
	box-sizing: border-box
}
.nav-tabs>li.active>a, .nav-tabs>li>a:hover {
	color: #fff;
	background-color: #c3051e;
	background-image: none!important;
	border-bottom: 5px solid #c3051e
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 0;
	border-bottom-color: transparent
}
.nav-tabs {
	border-bottom: 0
}
.nav-tabs>li.active>a {
	cursor: default;
	position: relative;
	z-index: 12;
	color: #555;
	background: #FFF;
	border-color: #CFCFCF;
	border-bottom: 0;
	padding-top: 15px;
	margin-top: -10px;
	padding-bottom: 15px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.22)
}
ul.body-types {
	padding-left: 0;
	list-style: none;
	font-size: 17px;
	line-height: 30px;
	color: #000;
	font-weight: 600
}
.body-types li {
	background: #ececec;
	margin-bottom: 5px;
	border: 1px solid #e2e2e2;
	line-height: 36px;
	border-radius: 4px
}
.gallery img {
	margin-bottom: 15px
}
.gallery .col-md-3.col-sm-4.col-xs-6 {
	padding-right: 0
}
.gallery .col-md-3.col-sm-4.col-xs-4 {
	margin-right: 0;
	margin-left: 0;
	padding-right: 7px;
	padding-left: 7px
}
.gallery {
	padding-right: 8px;
	padding-left: 7px
}
.col-lg-3.col-md-3.col-sm-4.col-xs-12 .services-container {
	padding-right: 15px;
	margin-top: 70px
}
.rangeslider__value-bubble {
	border: 1px solid #ccc;
	display: block;
	padding: 5px;
	position: absolute;
	bottom: 100%;
	margin-bottom: 25px;
	width: 100px;
	margin-left: -50px;
	text-align: center;
@include border-radius(5px)
}
&:after, &:before {
border-width:11px;
border-style:solid;
border-color:transparent;
content:"";
display:block;
margin:auto;
width:10px;
position:absolute;
left:0;
right:0
}
&:before {
border-top-color:#ccc;
bottom:-11px
}
&:after {
border-top-color:#fff;
bottom:-10px
}
.your-bid output {
	display: inline;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: #8b8b8b
}
.car-item-details {
	border: 1px dashed #a9a9a9;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	padding: 25px 15px 0;
	position: relative;
	text-align: center;
	margin-top: 15px
}
.solid {
	position: absolute;
	left: 15px;
	top: 0;
	right: 15px;
	bottom: 15px;
	background: url(../images/bg-solid.png) no-repeat;
	background-size: cover;
	z-index: 1000;
	text-transform: uppercase;
	cursor: no-drop
}
.sold-price {
	width: 200px;
	height: 200px;
	background: #55bc7f;
	background: -moz-linear-gradient(-45deg, #55bc7f 1%, #77c999 47%, #55bc7f 51%, #55bc7f 100%);
	background: -webkit-linear-gradient(-45deg, #55bc7f 1%, #77c999 47%, #55bc7f 51%, #55bc7f 100%);
	background: linear-gradient(135deg, #55bc7f 1%, #77c999 47%, #55bc7f 51%, #55bc7f 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#55bc7f', endColorstr='#55bc7f', GradientType=1 );
	border-radius: 50%;
	left: 50%;
	position: absolute;
	top: 50%;
	text-align: center;
	line-height: 25px;
	font-size: 32px;
	margin-top: -100px;
	margin-left: -100px;
	color: #fff;
	padding: 60px 20px
}
hr {
	margin: 15px 0;
	border-top: 1px solid #DDD
}
.car-item .rangeslider--horizontal {
	height: 10px;
	width: 100%
}
.car-item .rangeslider__handle {
	background: #55bc7f;
	border: 1px double #fff;
	cursor: pointer;
	display: inline-block;
	width: 35px;
	height: 35px;
	top: -11px!important
}
.car-item .rangeslider__handle:after {
	content: "";
	display: block;
	width: 27px;
	height: 27px;
	border: 1px solid #fff;
	background-image: none
}
button.btn.my-btn-contact2.bid-now {
	background: #c3051e;
	margin-bottom: 0!important
}
button.btn.my-btn-contact2.black-btn {
	background: #000
}
span.date-remaining-item {
	position: absolute;
	text-align: center;
	top: -20px;
	font-size: 25px;
	color: #8b8b8b;
	background: #fff;
	padding: 5px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 160px
}
.cars-aucation {
	background: #268d5e;
	color: #fff;
	padding: 10px 10px 0;
	margin-bottom: 30px;
}
.cars-aucation-list li.active {
	display: inline-block;
	background: #40c389
}
.cars-aucation-list li:hover {
	display: inline-block;
	background: rgba(41,166,110,.7);
	transition: all 1s
}
span.type {
	color: #a1f1ce
}
.cars-aucation-list.col-md-9 li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 15px;
	display: block;
	line-height: 22px;
}
.cars-aucation-list.col-md-9 li a img{
margin-right:5px;
max-height:21px
}
.cars-aucation-list li {
	display: inline-block;
	background: #29a66e;
	text-align: left;
	margin: 4px;
	font-size: 17px;
	text-transform: capitalize;
	width: 23.2%
}
textarea.form-control.big-form {
    width: 100% !important;
	    max-height: 95px;
    overflow-y: visible;
}
cars-aucation-numb, span.cars-aucation-numb {
	text-align: center;
	font-size: 21px;
	line-height: 28px
}
span.cars-aucation-numb {
	display: block;
	vertical-align: middle;
	padding-top: 15px;
	    position: relative;
}
.cars-aucation-numb2 {
    display: block;
    vertical-align: middle;
    padding-top: 10px;
    position: relative;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    line-height: 28px;
}
.info-icon {
    position: absolute;
    left: 5px;
    top:5px;
    background: #29a66e;
    border-radius: 5px;
    line-height: 15px;
	    background-image: none;
		width:25px;
		height:25px;
		text-align:center;
		padding:0;
    border: none;
	    outline: none;
}
.before-log span.type {
    color: #ffffff;
}
.local-time ,.date-now{
    font-size: 15px;
	display:block;
	    line-height: 18px;
		text-transform:capitalize
}
.info-icon:hover {
    background: #40c389;
}
.cars-aucation-list {
	list-style: none;
	padding-left: 0;
	text-align: center
}


cars-aucation-numb {
	display: block
}
.view-all-gallery, .view-all-gallery:hover {
	display: block;

	text-decoration: none
}
span.car-item-name {
	color: #c3051e;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
	display: block
}
.adds, .view-all-gallery {
	margin-bottom: 15px
}
.view-all-gallery {
	    line-height: 25px;
		cursor:pointer;
	color: #c3051e;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 15px;
	    width: 235px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	background-image:url(../images/ar-g.png);
	background-repeat:no-repeat;
	background-position:right center;
	margin-bottom:15px
}
.view-all-gallery:hover {
background-image:url(../images/ar-g.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	transition:all  1s
}
.adds img {
	width: 100%
}
.body-types li:nth-child(odd) {
	border-left: 4px solid #c3051e
}
.body-types li:nth-child(even) {
	border-left: 4px solid #49a56e
}
.tab-content {
	position: relative;
	z-index: 10;
	min-height: 170px;
	padding: 16px 12px;
	border: 0
}
.col-lg-3.col-md-3.col-sm-4.col-xs-5 {
	margin-top: 70px
}
span.day, span.time {
	display: inline-block!important
}
.input-details span {
	display: block;
	color: #49a56e;
	font-weight: 400;
	font-size: 16px;
	line-height: 17px
}
.lot .form-group {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-bottom: 0
}
.branch-item, .contact-info, .form-horizontal.contact {
	margin-bottom: 30px
}
ul#Menuitems {
	padding: 10px 0
}
.select-search ul {
	list-style: none;
	padding-left: 0
}
.modal-content {
	border-radius: 0;
	border: 0
}
.select-search {
	padding-bottom: 5px
}
.contact-info {
	text-align: right;
	border-right: 1px solid #514f50;
	color: #514f50;
	padding-bottom: 15px
}
.branch-title {
	font-size: 27px;
	color: #49a56e;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-family: dubai2
}
.read-more-wrap.row {
    padding-left: 0;
    list-style: none;
	overflow: hidden;
	margin-bottom:0
}
.branch-details span {
	font-weight: 800;
	font-family: dubai3;
	display: block
}
.branch-details {
	line-height: 27px;
	font-size: 18px;
}
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition:all .5s ease-in
  
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: ' View All Gallery ';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: ' ';
}


button.btn.btn-primary {
	background: #49a56e;
	border: none;
	margin-top: 4px;
	width: 120px;
	border-radius: 0;
	position: absolute;
	right: 7px;
	top: 3px
}
.branch-details-box {
	border: 1px solid #dfdbd8;
	border-radius: 10px;
	text-align: left;
	padding: 0 15px 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 16px
}
.branch-title-box {
	background: #dfdbd8;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
	margin-right: -15px;
	margin-left: -15px
}
ul.right-icons li a:hover .ahover1, ul.right-icons li a:hover .ahover2 {
	display: inline-block;
	transition: all 1s ease-in-out!important
}
.social {
	text-align: right;
	margin-top: 17px
}
.icon-massage {
	color: #fff;
	background: #49a56e;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: block;
	box-shadow: 2px 1px 2px 0 rgba(0,0,0,.56);
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 10000
}
.icon-massage:hover {
	color: #fff
}
ul.footer-links {
	list-style: none;
	padding-left: 0
}
.footer-links li {
	float: left;
	padding: 5px 0
}
.footer-links li a {
	padding: 0 10px;
	border-right: 1px solid #000;
	color: #000;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 16px
}
.footer-links li:last-child a {
	border-right: 0 solid #000
}
ul.nav.navbar-nav.navbar-left.search-section.sm li.active, ul.nav.navbar-nav.navbar-left.search-section.sm li:hover {
	color: #fff;
	text-shadow: none;
	background: #fff;
	transition: all 1s
}
@media (min-width:992px) and (max-width:1200px) {
.modal-dialog {
	width: 525px;
	margin: 0 auto;
	padding-top: 55px
}
.search-section li a.has-submenu {
	color: #000;
	text-shadow: none!important;
	font-size: 16px!important;
	text-transform: capitalize!important;
	font-weight: 600!important;
	border-right: 0 solid #fff!important;
	padding: 10px 13px!important
}
.select-search .form-group {
	width: 22.5%;
	float: left;
	margin: 5px
}
button.btn.btn-primary {
	width: 90px;
	border-radius: 0
}
.top-menu li {
	border-right: 1px solid #000;
	padding: 0 7px;
	line-height: 41px
}
.user-left {
	padding-left: 13%
}
ul.nav.navbar-nav.navbar-left.sm li a {
	font-size: 17px!important;
	padding: 0 12px!important
}
.user-right {
	padding-right: 13%
}
.service-item span {
	top: 25%;
	font-size: 15px;
	font-family: dubai
}
.timer-wrapper {
	width: 40px!important;
	font-size: 13px!important
}
.top-current {
	background: url(../images/bg-current2.jpg) center center no-repeat;
	height: 45px;
	margin-bottom: 15px;
	position: relative
}
.nav-tabs>li {
	box-shadow: 1px 0 2px 0 rgba(0,0,0,.09)
}
.partner-title {
	font-size: 23px;
	line-height: 106px
}
.social {
	text-align: right;
	margin-top: 40px
}
.top-current span {
	right: 5%
}
.top-current-title {
	text-align: center;
	font-size: 23px;
	margin-bottom: 25px
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	display: block!important
}
.lot .form-group {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: none
}
.map iframe {
	height: 300px
}
input-details .countdown-timer-wrapper .timer {
	text-align: center
}
.input-details .countdown-timer-wrapper .timer .timer-wrapper {
	display: inline-block;
	width: 25px!important;
	height: 10px
}
.input-details .countdown-timer-wrapper .timer .timer-wrapper .time {
	font-size: 16px;
	font-weight: 700;
	color: #49a56e
}
.car-specification span {
	display: inline-block;
	text-align: center;
	width: 32%;
	color: #848484;
	font-size: 17px;
	line-height: 20px;
	font-weight: 600
}
.cars-aucation-list li {
	width: 23%
}
.custom-select-trigger {
	font-size: 15px;
	width: 45px
}
}
@media (min-width:768px) and (max-width:991px) {
.cars-aucation-list {
	list-style: none;
	padding-left: 10px
}
.cars-aucation-list li {
	width: 22.8%
}
.cars-aucation-list.col-md-9 li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 11px;
	display: block
}
.modal-dialog {
	width: 390px;
	margin: 0 auto;
	padding-top: 57px
}
.dropdown-large {
	width: 400px!important;
	max-width: 1000px!important
}
.search-section ul.dropdown-menu.sm-nowrap {
	background: #fff!important;
	border: none!important;
	margin-top: 19px!important;
	padding: 10px
}
.dropdown-medium-input {
	width: 200px!important
}
ul.dropdown-menu.dropdown-large.sm-nowrap .col-md-4.col-sm-4 {
	padding-right: 7px;
	padding-left: 8px
}
.menu .navbar-nav li {
	float: left;
	padding: 15px 0
}
ul.dropdown-menu.dropdown-medium.sm-nowrap .col-md-6.col-sm-6 {
	padding-right: 7px;
	padding-left: 8px
}
.search-section ul.dropdown-menu.sm-nowrap:after {
	bottom: 100%;
	left: 25px
}
button.btn.btn-primary {
	background: #49a56e;
	border: none;
	margin-top: 0;
	width: 100%;
	border-radius: 0;
	position: initial
}
.btn.my-btn-contact {
	background: #49a56e;
	float: left;
	font-size: 18px;
	border-radius: 10px
}
.user-left {
	padding-left: 0
}
.user-left a {
	line-height: 41px;
	color: #fff;
	padding: 0 20px
}
.top-menu li {
	padding: 0 13px;
	line-height: 41px
}
.user-right {
	padding-right: 0
}
.logo, .logo2 {
	margin-top: 6px;
	display: block
}
.menu ul.nav.navbar-nav.navbar-left.sm li a {
	font-size: 14px!important;
	padding: 0 10px!important
}
ul.nav.navbar-nav.navbar-left.search-section.sm>li a {
	font-size: 14px!important;
	padding: 0 6px!important
}
ul.nav.navbar-nav.navbar-left.search-section.sm>li {
	padding: 8px 0
}
ul.nav.navbar-nav.navbar-left.search-section.sm {
	background: #fff;
	color: red;
	color: rgba(0,0,0,.74);
	box-shadow: none
}
.search-section {
	float: none!important
}
.search-section li a {
	font-size: 14px!important;
	padding: 0 6px!important
}
.customer-care, .phone-numb {
	color: #fff;
	font-size: 15px;
	margin-right: -15px;
	display: block
}
.car-options {
	margin-right: -15px
}
.car-options li {
	width: 95px
}
.car-status-container {
	text-align: center
}
.car-status {
	margin: 0 5% 15px
}
.day-home {
	margin-bottom: 15px
}
.top-current-title {
	margin-bottom: 70px
}
.col-lg-4.col-md-5.col-sm-12.padding-left-lg {
	padding-left: 15px!important
}
.owl-next, .owl-prev {
	display: block!important
}
.partner-title {
	font-size: 22px;
	line-height: 68px
}
.social {
	text-align: right;
	margin-top: 17px
}
.lot .form-group {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: none
}
.col-md-6.col-md-offset-3 {
	text-align: center
}
.current-bid {
	width: 70%
}
.nav-tabs>li>a {
	background-image: none;
	border: 0;
	box-shadow: -1px -2px 2px -1px rgba(0,0,0,.22);
	font-size: 20px;
	text-transform: capitalize;
	font-family: dubai;
	font-weight: 100;
	padding: 10px 44px;
	border-bottom: 5px solid #fff
}
.map iframe {
	height: 250px
}
.custom-select {
	padding-right: 12px;
	margin: 0
}
.custom-select-trigger {
	padding: 0;
	font-size: 15px;
	width: 47px;
	height: 25px
}
.lot-btn {
	position: relative;
	display: block;
	padding: 0 5px;
	font-size: 15px
}
.custom-lot {
	list-style: none;
	width: 55px
}
.custom-options {
	margin: 15px 0
}
.custom-options.large-size {
	width: 350px;
	font-size: 12px
}
.custom-option, custom-options.large-size .custom-option {
	font-size: 12px
}
}
@media (min-width:320px) and (max-width:767px) {
.car-status-container, .cars-aucation-list, .day-home, .social, .user-left {
	text-align: center
}
#Menuitems {
	padding: 10px 0;
	width: 100px;
	margin-left: -30%;
	min-width: 140px
}
.user-left, .user-right, ul.nav.navbar-nav.navbar-left.sm {
	margin-left: -15px;
	margin-right: -15px
}
.lot:after {
	bottom: 100%;
	left: 32%
}
.cars-aucation-list li {
	font-size: 16px;
	width: 45.2%
}
.cars-aucation-list {
	list-style: none;
	padding-left: 15px
}
.cars-aucation-numb {
	margin-bottom: 15px
}
.max-bid .current-bid {
	width: auto!important;
	min-width: 150px
}
.user-left {
	background: #49a56e;
	padding-left: 0;
	-webkit-clip-path: none;
	clip-path: none;
	font-size: 15px
}
.menu {
	display: none
}
.menu-mobile {
	display: block
}
.col-md-4.col-sm-6.col-xs-0, .top-menu {
	display: none
}
.user-left a {
	line-height: 30px;
	color: #fff;
	padding: 0 15px;
	font-size: 14px
}
.user-right {
	background: #000;
	padding-right: 15px;
	-webkit-clip-path: none;
	clip-path: none;
	padding-left: 15px
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 6px;
	margin-top: 8px
}
.navbar {
	z-index: 1030;
	margin-bottom: 0;
	border-radius: 0;
	min-height: 44px
}
.navbar-nav li {
	float: none;
	padding: 8px 0;
	border-bottom: 1px solid rgba(244,244,244,.17)
}
.navbar-nav li:last-child {
	float: none;
	padding: 8px 0;
	border-bottom: 0 solid rgba(244,244,244,.17)
}
.right-icons li {
	display: inline!important;
	padding: 10px 3.8%!important;
	line-height: 30px!important;
	font-size: 13px!important
}
ul.right-icons li img {
	max-height: 20px
}
.search-section li {
	float: left
}
.search-section li a {
	float: left;
	color: #000
}
.logo2, .search-section ul.dropdown-menu.sm-nowrap li a {
	float: none!important
}
.search-section li a.has-submenu {
	color: #000;
	text-shadow: none!important;
	text-transform: capitalize!important;
	font-weight: 600!important;
	border-right: 0 solid #fff!important
}
.menu-mobile {
	margin-bottom: 15px
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #c3051e
}
ul.nav.navbar-nav.navbar-left.sm li a {
	text-shadow: none;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	padding: 0 20px;
	border-right: 0!important
}
.custom-option:last-child {
	border-bottom: 1px solid #b5b5b5
}
.date-details {
	padding-left: 15px;
	padding-right: 15px
}
.col-lg-7.col-md-12.col-sm-12.padding-right-none {
	padding-right: 15px!important
}
.car-status {
	margin: 1%
}
.service-item span {
	top: 40%;
	font-size: 20px;
	font-family: dubai;
	font-weight: 600
}
.caption-title1 {
	color: #c3051e;
	font-size: 25px;
	font-family: dubai2
}
.caption-title12 {
	color: #258f5f;
	font-size: 18px
}
.btn.my-btn, .carousel-caption {
	font-size: 16px
}
.owl-next, .owl-prev {
	display: block!important
}
.btn.my-btn {
	background: #fff;
	line-height: 15px
}
.partner-title {
	font-size: 22px;
	line-height: 20px;
	padding: 15px 0
}
.social {
	margin-top: 15px;
	margin-bottom: 15px
}
.social-icon {
	display: inline-block;
	margin: 0 5px
}
.current-auction, .day-home {
	margin-bottom: 15px
}
.footer-links li a {
	padding: 0 5px;
	font-size: 14px
}
.current-auction {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto
}
.col-md-12.col-sm-12.padding-left-none {
	padding-left: 15px!important;
	text-align: center
}
.service-item {
	margin-right: 0
}
.contact-info {
	text-align: left;
	border-right: none;
	color: #514f50;
	padding-bottom: 15px;
	margin-bottom: 30px
}
.branch-item img {
	margin-bottom: 15px
}
#footer {
	font-size: 16px;
	text-align: left;
	font-weight: 600
}
.col-md-6.col-md-offset-3, .top-services .col-xs-6 {
	text-align: center
}
.modal-dialog {
	width: 93%;
	margin: 0 auto;
	padding-top: 120px
}
.logo img, .logo2 img {
	width: 200px;
	margin-left: auto;
	margin-right: auto
}
.top-services {
	background: #c3051e;
	display: block!important
}
.customer-care, .phone-numb {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 35px
}
.phone-numb img {
	max-height: 18px
}
.current-bid {
	width: 95%;
	font-size: 23px;
	min-width: 281px
}
.current-bid span {
	display: block;
	color: #c3051e;
	font-family: dubai;
	font-size: 17px;
	font-weight: 500
}
.rangeslider__handle:after {
	content: "";
	display: block;
	width: 37px;
	height: 37px;
	border: 1px solid #fff;
	background-image: none
}
.rangeslider__handle {
	background: #55bc7f;
	border: 1px double #fff;
	cursor: pointer;
	display: inline-block;
	width: 45px;
	height: 45px;
	top: -14px!important
}
.nav-tabs>li>a {
	background-image: none;
	border: 0;
	box-shadow: -1px -2px 2px -1px rgba(0,0,0,.22);
	font-size: 19px;
	text-transform: capitalize;
	font-family: dubai;
	font-weight: 100;
	padding: 10px 15px;
	border-bottom: 5px solid #fff
}
ul.nav.nav-tabs {
	margin-top: 30px
}
.gallery .col-md-3.col-sm-4.col-xs-6 {
	padding-right: 15px;
	padding-left: 15px
}
.view-all-gallery {
	display: block;
	color: #c3051e;
	font-size: 18px;
	margin-top: 0
}
.map iframe {
	height: 250px
}
.gallery .col-md-3.col-sm-4.col-xs-4 {
	margin-right: 0;
	margin-left: 0;
	padding-right: 7px;
	padding-left: 7px
}
.gallery {
	padding-right: 8px;
	padding-left: 7px
}
.input-details-container {
	text-align: center;
	margin-bottom: 15px
}
.input-details {
	width: 47%
}
.logo2 {
	margin-top: 5px;
	display: block
}
.col-lg-3.col-md-3.col-sm-4.col-xs-12 .services-container {
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 15px
}
.car-item .current-bid {
	width: 95%;
	font-size: 23px;
	min-width: 150px
}
.car-item img {
	margin-left: auto;
	margin-right: auto
}
.search-section li a.has-submenu {
	font-size: 12px!important;
	padding: 0 3px!important
}
.search-section ul.dropdown-menu.sm-nowrap li {
	display: block;
	float: none!important
}
.custom-select {
	padding-right: 12px;
	margin: 0
}
.custom-select-trigger {
	padding: 0 2px;
	font-size: 17px;
	width: 70px;
	height: 25px;
	text-align: left
}
.btn.btn-primary {
	background: #49a56e;
	border: none;
	margin-top: 4px;
	width: 100%!important;
	margin-bottom: 10px;
	position: initial!important
}
.modal-body {
	position: relative;
	text-align: left;
	padding: 0 15px
}
.custom-lot {
	list-style: none;
	width: 82px!important
}
.custom-options {
	margin: 15px 0;
	width: 140px;
	z-index: 1000;
	border: 1px solid rgba(204,204,204,.3)
}
.custom-options.large-size {
	width: 140px;
	font-size: 12px
}
.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	bottom: 100%;
	left: 15px;
	width: 15px;
	height: 15px;
	margin-bottom: -7px;
	border-top: 1px solid rgba(204,204,204,.3);
	border-left: 1px solid rgba(204,204,204,.3);
	background: #fff;
	transform: rotate(45deg);
	transition: all .4s ease-in-out
}
.custom-option, custom-options.large-size .custom-option {
	font-size: 12px
}
.custom-select-wrapper {
	width: 16%
}
}
@media (min-width:320px) and (max-width:480px) {
.car-options li {
	border-right: 1px solid #fff!important
}
}
@media (min-width:320px) and (max-width:600px) {
.custom-options {
	width: 102px
}
.custom-options.large-size {
	width: 102px;
	font-size: 12px
}
.custom-select-wrapper {
	width: 32.4%
}
.modal-dialog {
	width: 90%;
	margin: 0 auto;
	padding-top: 115px
}
.select-search .form-group {
	width: 21%;
	float: left;
	margin: 5px
}
}
